* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: "Times New Roman", Times, serif;
}

body {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffefba
  );
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
}

#myCanvas {
  border: 3px solid black;
  width: 90%;
  height: 36em;
  margin-top: 1em;
  border-radius: 3px;
}

.popup{
  background-color: rgba(0, 0, 0, 0.75);
  /* content: "Game Over"; */
  min-width: 100%;
  min-height: 100%;
  font-size: 7em;
  color: rgb(165, 131, 56);
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  display:none;
}

#text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;

}