* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
}

body {

  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url("./Media/img2.jpg");

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

#myCanvas {
  border: 3px solid black;

background-color: rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 36em;
  margin-top: 1em;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 36em;
 
}
#Score
{
  float: left;
  margin-left: 5em;
  font-size: 2.5em;
  margin-top: 1em;
  color: beige;
}
#Lives
{
  float: right;
  margin-right: 5em;
  font-size: 2.5em;
  margin-top: 1em;
  color: beige;
}
#Startbutton
{
  width: 7em;
  height: 7em;
  border-radius: 100%;
  border-color: #f42279;
  margin-top: 1em;
  font-size: 1em;
  background-color: antiquewhite;
  cursor:pointer
}
.popup{
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  /* content: "Game Over"; */
  min-width: 100%;
  min-height: 100%;
  font-size: 7em;
  color: rgb(165, 131, 56);
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  display:none;
}

#text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
}

#GameOverSound{
  display: none;

}

#WinSound{
display:none;
}
