* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

body {
  min-width: 100%;
  min-height: 100vh;
  text-align: center;
  background-image: url("./Media/img2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  vertical-align: middle;
}
nav {
  display: flex;
  gap: 3em;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#myCanvas {
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 36em;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 36em;
}
#Score {
  order: 1;
  font-size: 2.5em;
  color: #f42279;
}
#Lives {
  order: 4;
  font-size: 2.5em;
  color: #f42279;
}
#Startbutton {
  order: 2;
  max-width: 125px;
  min-width: 125px;
  max-height: 125px;
  min-height: 125px;
  margin: 0 auto;
  border-radius: 100%;
  border-color: #f42279;
  font-size: 1.1rem;
  background-color: antiquewhite;
  cursor: pointer;
  line-height: 7em;
  word-wrap: break-word;
}

#MuteButton {
  order: 3;
  max-width: 75px;
  min-width: 75px;
  max-height: 75px;
  min-height: 75px;
  padding-top: 1em;
  margin: 0 auto;
  border-radius: 100%;
  border-color: #f42279;
  cursor: pointer;
}

#text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}
